[loggers]
keys=root

[handlers]
keys=TimedRotatingFileHandler,StreamHandler

[formatters]
keys=simple

[logger_root]
level=DEBUG
handlers=TimedRotatingFileHandler,StreamHandler

[handler_TimedRotatingFileHandler]
class=logging.handlers.TimedRotatingFileHandler
args=("./recipe_crawler/main.log", "midnight", 1, 31)
level=DEBUG
formatter=simple

[handler_StreamHandler]
class=logging.StreamHandler
level=INFO
formatter=simple

[formatter_simple]
format=%(asctime)s [%(levelname)s] %(message)s
class=logging.Formatter